.left {
  float: left;
}

.right {
  float: right;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.is-visible {
  visibility: visible !important;
}

.is-hidden {
  visibility: hidden !important;
}

.is-overflow-hidden {
  overflow: hidden !important;
}

.is-not-displayed {
  display: none !important;
}

.is-displayed {
  display: block !important;
}
