////////////////////////
////////////////////////
// MOBILE TYPOGRAPHY
////////////////////////


// font size helpers:
// $heading-font-sizes: ('alpha': 30px, 'beta': 27px, 'gamma': 22px)
// $smallprint-font-sizes: ('smallprint': 13px, 'milli': 12px)


body {
  font-size: 16px;
}

p, h1, h2, h3, h4, h5, h6 {
  font-family: $base__font-family;
  transition: font-size .25s;
}

h1 {
  font-size: 2em;
  line-height: 1.25em;
  color: $color--h1;
}

h2 {
  font-size: 1.625em;
  line-height: 1.15384615em;
  color: $color--h2;
}

h3 {
  font-size: 1.375em;
  line-height: 1.13636364em;
  color: $color--h3;
}

h4 {
  font-size: 1.125em;
  line-height: 1.11111111em;
  color: $color--h4;
}

h5 {
  font-size: 1em;
  line-height: 1.11111111em;
  color: $color--h5;
}

h6 {
  font-size: 1em;
  line-height: 1.11111111em;
  color: $color--h6;
}

p {
  font-size: 1em;
  line-height: 1.25em;
  color: $color--body;
}

a {
  font-family: $base__font-family;
  color: $color--link;
  font-size: inherit;
  text-decoration: none;
  &:hover, &:focus {
    color: $color--link--hover;
  }
  &:visited {
    color: $color--link--visited;
  }
}

// CODE -- TODO

// BLOCKQUOTE -- TODO



////////////////////////
////////////////////////
// TABLET TYPOGRAPHY
////////////////////////

@include bp($break--md) {

  h1 {
    font-size: 2.5em;
    line-height: 1.125em;
  }

  h2 {
    font-size: 2em;
    line-height: 1.25em;
  }

  h3 {
    font-size: 1.5em;
    line-height: 1.25em;
  }

  h4 {
    font-size: 1.125em;
    line-height: 1.22222222em;
  }

  p {
    line-height: 1.375em;
  }

}



////////////////////////
////////////////////////
// DESKTOP TYPOGRAPHY
////////////////////////

@include bp($break--lg) {

  h1 {
    font-size: 3em;
    line-height: 1.05em;
  }

  h2 {
    font-size: 2.25em;
    line-height: 1.25em;
  }

  h3 {
    font-size: 1.75em;
    line-height: 1.25em;
  }

  h4 {
    font-size: 1.125em;
    line-height: 1.22222222em;
  }

}
