////////////////////////
// COLOR VARIABLES
////////////////////////

// BRAND COLORS

$summer-sky:                      #1FA2ED;
$deep-sea:                        #0880C5;
$white-smoke:                     #F5F5F5;
$abyss:                           #231F20;
$emerald:                         #1EC279;
$forrest:                         #00A968;

// SECONDARY COLORS

$sunflower:                       #FFCC01;
$gold:                            #FEA906;
$valentine:                       #E05B49;
$cherry:                          #C44B3B;
$blue-asphalt:                    #33495F;
$midnight:                        #25364C;
$blueberry:                       #0B0080;

// NEUTRAL COLORS

$fog:                             #E6EDF0;
$metallic-silver:                 #CAD7DE;
$scorpion:                        #5A5A5A;


////////////////////////
// FRAMEWORK COLORING
////////////////////////

// TEXT COLORING

$body-color:                      $scorpion;
$h1-color:                        $abyss;
$h2-color:                        $abyss;
$h3-color:                        $abyss;
$h4-color:                        $abyss;
$h5-color:                        $abyss;
$h6-color:                        $abyss;

// LINK COLORING

$link-color:                      $summer-sky;
$link-color--muted:               $midnight;
$link-color--visited:             $blueberry;

// BUTTON COLORING

$btn-primary-color:               $emerald;
$btn-secondary-color:             $valentine;







// $font-size-root
// $font-family-base: "Lato", helvetica, arial;
// $line-height: 1.6em;
// $body-color
// $body-bg
// $abbr-border-color
// $link-hover-color
// $link-hover-decoration
// $link-color
// $table-bg
// $table-cell-padding
// $text-muted
