////////////////////////
////////////////////////
// BREAKPOINTS
////////////////////////

$break--xl:                        80em; // 1280
$break--lg:                        64em; // 1024
$break--md:                        48em; // 768
$break--sm:                        30em; // 480



////////////////////////
////////////////////////
// COLOR VARIABLES
////////////////////////

// BRAND COLORS

$summer-sky:                      #1FA2ED;
$deep-sea:                        #0880C5;
$white-smoke:                     #F5F5F5;
$abyss:                           #231F20;
$emerald:                         #1EC279;
$forrest:                         #00A968;

// SECONDARY COLORS

$sunflower:                       #FFCC01;
$gold:                            #FEA906;
$valentine:                       #E05B49;
$cherry:                          #C44B3B;
$blue-asphalt:                    #33495F;
$midnight:                        #25364C;
$blueberry:                       #0B0080;

// NEUTRAL COLORS

$fog:                             #E6EDF0;
$metallic-silver:                 #CAD7DE;
$scorpion:                        #5A5A5A;



////////////////////////
////////////////////////
// FRAMEWORK COLORING
////////////////////////

// BODY COLORING

$color--body-bg:                   $fog;

// TEXT COLORING

$color--body:                      $scorpion;
$color--h1:                        $abyss;
$color--h2:                        $abyss;
$color--h3:                        $abyss;
$color--h4:                        $abyss;
$color--h5:                        $abyss;
$color--h6:                        $abyss;

// LINK COLORING

$color--link:                      $summer-sky;
$color--link--muted:               $midnight;
$color--link--hover:               darken($color--link, 10%);
$color--link--visited:             $blueberry;

// BUTTON COLORING

$color--btn-primary:               $emerald;
$color--btn-secondary:             $valentine;

// TABLE COLORING

$color--table-bg:                  $metallic-silver;
$color--table-cell-padding:        $fog;
$color--table-border:              $metallic-silver;

// HORIZONTAL RULE COLORING

$color--horizontal-rule:           $metallic-silver;

// MODAL COLORING

$color--modal-overlay:             transparentize($blue-asphalt, 0.1);
$color--modal-wrap:                $fog;
$color--modal-header:              darken($fog, 5%);
$color--modal-footer:              darken($fog, 5%);


////////////////////////
////////////////////////
// TYPOGRAPHY VARIABLES
////////////////////////

$base__font-size: 16px;
$base__font-family: Helvetica, Arial, sans-serif;
$base__line-height: 1.6em;
